In [1]:
import numpy as np
import pandas as pd

In [76]:
WT_1 = pd.read_csv("GSM2086001_wt-1.txt", sep="\t", header=None, names=["gene", "WT_1"])
WT_2 = pd.read_csv("GSM2086002_wt-2.txt", sep="\t", header=None, names=["gene", "WT_2"])
WT_3 = pd.read_csv("GSM2086003_wt-3.txt", sep="\t", header=None, names=["gene", "WT_3"])

KO_1 = pd.read_csv("GSM2085998_DBL-cKO-1.txt", sep="\t", header=None, names=["gene", "KO_1"])
KO_2 = pd.read_csv("GSM2085999_DBL-cKO-2.txt", sep="\t", header=None, names=["gene", "KO_2"])
KO_3 = pd.read_csv("GSM2086000_DBL-cKO-3.txt", sep="\t", header=None, names=["gene", "KO_3"])

In [64]:
# One way of doing this, is inefficient if many samples
pd.DataFrame({"gene":WT_1["gene"],"WT_1":WT_1["WT_1"],"WT_2":WT_2["WT_2"]})

                         gene     WT_1     WT_2
0               0610005C13Rik        4        4
1               0610007P14Rik     3825     3389
2               0610009B22Rik     1025      838
3               0610009L18Rik      124       99
4               0610009O20Rik     2236     1969
...                       ...      ...      ...
24421            __no_feature  6612844  5842166
24422             __ambiguous  1121962   906484
24423         __too_low_aQual        0        0
24424           __not_aligned        0        0
24425  __alignment_not_unique        0        0

[24426 rows x 3 columns]

In [68]:
def checkEqual(x):
    def cE(a):
        return([sum(a[0]["gene"] == a[i+1]["gene"]) == len(a[0]) for i in range(len(a)-1)])
    return(sum(cE(x)) == len(x)-1)

def merger(a):
    # Check if all gene names are the same on all dataframes
    if checkEqual(a):
        init = a[0]
        for i in range(len(a)):
            if i == 0:
                df = init
            else:
                df = pd.merge(df, a[i], on="gene")
        return(df)
    else:
        print("Not same gene list length")

In [77]:
df = merger([WT_1, WT_2, WT_3, KO_1, KO_2, KO_3])

In [78]:
df.head()

            gene  WT_1  WT_2  WT_3  KO_1  KO_2  KO_3
0  0610005C13Rik     4     4     0     0     0     3
1  0610007P14Rik  3825  3389  3782  1666  1244  1512
2  0610009B22Rik  1025   838   961   782   462   628
3  0610009L18Rik   124    99   159   141    68   130
4  0610009O20Rik  2236  1969  1710  1513  1299  1482

In [79]:
df = df.head(3)
df = df.mean()
df = pd.DataFrame(df).reset_index()
df.columns = ["Sample","Mean"]
df.to_csv("GSE79115_head_mean.csv")

/tmp/ipykernel_17099/1741255696.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df.mean()